* {
	margin:0; /* RESET CSS */
	padding:0;
} 

body {
	background:#fff;
	font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;
	font-size:10px; /* ROW FONT SIZE */
}

/* LINK STYLES */

a {
	color:#003399;
	text-decoration:none;
	padding-bottom:1px;
}

img {
      border: 0px;
}

a:hover {
	border-bottom:2px solid #003399;
}

/* TABLE STYLES */

table {
	border-collapse:separate;
	border-spacing:2px;
	text-indent:0;
	margin-top: 1px;
	border-collapse:collapse;
	font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;
	font-size:10px; /* ROW FONT SIZE */
	text-align:left;
	width:100%;
}

th {
	display:table-cell;
	font-weight:bold;
	padding:1px;
	vertical-align:inherit;
}

tbody {
	display:table-row-group;
	vertical-align:middle;
}


#labview td {
	background:#E8EDFF none repeat scroll 0 0;
	border-bottom:1px solid #FFFFFF;
	border-top:1px solid transparent;
	color:#666699;
	padding:4px 8px;
}

tr {
	display:table-row;
	vertical-align:inherit;
}

#labview tr:hover td {
	background:#d0dafd;
	color:#339;
}

#labview th {
	background:#B9C9FE none repeat scroll 0 0;
	border-bottom:1px solid #FFFFFF;
	border-top:4px solid #AABCFE;
	color:#003399;
	font-size:12px; /* HEADER FONT SIZE */
	font-weight:bold;
	padding:8px;
}

/* HEADER SECTION - logo, search box, login */

#header {
	background-color:#E7E5DC;
	padding:5px;
	border-top:4px solid #999;
}

#header a {
	margin-left:25px;
}

h1 {
	font-size:25px;
	font-weight:bold;
	color:#003399;
	margin-right:3px;
}

#nav {
	position:absolute;
	right:5px;
	top:11px;
}

#box {
	border:1px solid #666;
	padding:2px;
	margin-left:25px;
      background-image: url (../images/search.gif) no-repeat;
}

#button {

	padding:1px;
	border:1px solid #666;
}

.flash {
  background-color:#E8EDFF;
  font-weight:strong;
  color:#000;
  padding:5px;
  border:1px solid #AABCFE;
}
